<doctype html="">
  
<div class="content">

<title>Ticket Master</title>

<h2 style="text-align:left;color:blue;">Ticket Master</h2>
  
<p></p><p>
<a href="{{ url_for('.rate_show') }}"> Rate a show </a>
  
<p></p><p>
<a href="{{ url_for('.shop') }}"> Find merchandise </a>
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </p></dl>
  <p><input type="submit" value="Search">
</p></form>
</div>

</doctype>
