<doctype html="">
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>
  
<div class="content">

<title>Ticket Master</title>

<h2 style="text-align:center;color:blue;">Ticket Master</h2>
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </p></dl>
  <p><input type="submit" value="Search">
</p></form>
</div>

</body>
</doctype>
