<doctype html="">
<title>Ticket Master - Booking</title>
<h2>Book</h2>
{% from "_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.sex_choice) }}
        {{ render_field(form.name) }}
        {{ render_field(form.age) }}
        {{ render_field(form.number) }}
        {{ render_field(form.email) }}
        {{ render_field(form.ssn) }}
        {{ render_field(form.show) }}
        {{ render_field(form.venue) }}
        {{ render_field(form.price_choice) }}
    </dl>
    <p><input type="submit" value="Submit">
</p></form>
</doctype>
